---
import { Picture } from "@astrojs/image/components";
import waxDrip from "../assets/wax.jpg";

type Service = {
  name: string;
  price: string | number;
};

type Discount = {
  category: string;
  percentOff: number;
};

interface ServiceTypes {
  services: Service[];
  discounts: Discount[];
}

// Services data
const servicesData: ServiceTypes = {
  services: [
    {
      name: "Hot Wax",
      price: 30,
    },
    { name: "Edge Sharpening", price: 15 },
    { name: "Base Repair", price: "upon inspection" },
  ],
  discounts: [{ category: "kids", percentOff: 50 }],
};
---

<section id="services" class="bg-stone-100 dark:bg-zinc-950 min-h-[450px]">
  <div
    class="relative mx-auto min-w-[300px] max-w-7xl xl:w-[62%] pt-16 pl-2 md:pt-20 lg:pt-24"
  >
    <Picture
      src={waxDrip}
      widths={[250, 300, 350]}
      sizes="(max-width: 640px) 250px, (max-width: 1024px) 300px, 350px"
      alt="Block of wax being melted against a hot iron dripping onto the base of a ski"
      class="dark:grayscale object-cover w-[33%] h-[333px] sm:w-[45%] sm:h-[400px] md:object-contain lg:h-[467px] absolute object-center right-0 sm:right-[10%]"
    />

    <p
      aria-hidden="true"
      class="absolute font-title font-medium dark:text-stone-800 text-stone-300 text-6xl md:text-7xl xl:text-8xl right-[10%] sm:right-[40%]"
    >
      SERVICES
    </p>

    <h2
      class="relative font-sans font-light dark:text-stone-400 text-stone-700 text-xl xl:text-3xl z-10 mb-[3em] text-center sm:mr-[20%]"
    >
      SERVICES
    </h2>

    <ul class="text-lg lg:text-2xl pl-3 text-right w-[60%] sm:w-[40%]">
      <!-- Dynamically generate service items based on mock data in frontmatter -->
      {
        servicesData.services.map((service) => (
          <li class="dark:text-stone-200 font-sans dark:font-light mt-[0.5em] ">
            {service.name}
            {typeof service.price === "number" ? (
              <span class="dark:text-stone-300 text-stone-700 ml-[1em] inline-block">
                {service.price}
              </span>
            ) : (
              <span class="dark:text-yellow-500 text-yellow-700 text-md lg:text-lg xs:-mr-[1em] xs:ml-[1em] ml-[2em]">
                {service.price}
              </span>
            )}
          </li>
        ))
      }

      <!-- Dynamically generate discounts based on mock data in frontmatter -->
      {
        servicesData.discounts.map((discount) => (
          <li class="dark:text-stone-300 font-sans dark:font-light mt-[0.5em]">
            ({discount.category}{" "}
            <span class="underline decoration-yellow-500 underline-offset-2">
              {discount.percentOff}% off
            </span>
            )
          </li>
        ))
      }
    </ul>
  </div>
</section>
